.form {
    display: flex;
    flex-direction: column;
    margin: 25px;
    gap: 15px;
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
    font-weight: bold;
}

.form input, .form textarea {
    font-size: inherit;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid #ccc;
    margin-left: -10px;
}

.form button {
    padding: 5px;
    border-radius: 15px;
    border: 1px solid transparent;
    background-color: #48c8ff;
    color: #fff;
    font-size: inherit;
}